[submodule "CS-7000_Master-Thesis"]
	path = CS-7000_Master-Thesis
	url = git@github.com:Sevla8/CS-7000_Master_Thesis.git
[submodule "End-of-Study-Project-INSA-Lyon"]
	path = End-of-Study-Project-INSA-Lyon
	url = git@github.com:Sevla8/End-of-Study-Project-INSA-Lyon.git
[submodule "bugwright2-ws"]
	path = bugwright2-ws
	url = git@192.93.8.150:bugwright2/bugwright2-ws.git
	branch = cr_nav_strat
