[submodule "CS-7000_Master-Thesis"]
	path = CS-7000_Master-Thesis
	url = git@github.com:Sevla8/CS-7000_Master_Thesis.git
[submodule "End-of-Study-Project-INSA-Lyon"]
	path = End-of-Study-Project-INSA-Lyon
	url = git@github.com:Sevla8/End-of-Study-Project-INSA-Lyon.git
